.resultsLoading {
  position: relative;
  min-width: 100%;
  min-height: 300px;
} 

.campaign-result-panel {
  &.mobile {
    .body {
      max-height: calc(100vh - 112px);
      padding: 0;
    }
  }
  .header {
    display: flex;
    padding: 15px;
    background: #F2F2F2;
  }
  .body {
    background: #C4C4C4;
    max-height: 650px;
    overflow-y: auto;
    padding: 10px;

    .side {
      border-right: 1px solid #95989A;
      padding: 10px;
    }
  }
  .border-right {
    border-right: 1px solid #95989A;
  }
  .border-bottom {
    border-bottom: 1px solid #95989A;
    width: 100%;
  }
  .padding-5 {
    padding: 5px;
  }
  .padding-10 {
    padding: 10px;
  }
  .padding-15 {
    padding: 15px;
  }
  .block {
    display: block;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .align-right {
    text-align: right;
  }
  .align-center {
    text-align: center;
  }
  .margin-auto {
    margin: auto;
  }

}
