.creative {
  .react-tagsinput {
    height: 43px;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    
    &:hover {
      border: 1px solid #57d589 !important;
    }

    &.react-tagsinput--focused {
      padding: 4px 0 0 4px;
      border: 2px solid #57d589 !important;
    }
  }

  .extra {
    &.type-light {
      &.place-bottom {
        min-width: 100px;
        &:after {
          border-bottom-color: #1a936f;
        }
      }
    }
  }
}