@import "vars";

.lead-status-form-container {
  color: $text-gray;
  text-align: left;
  padding: 8px;

  textarea {
    background: #E0E0E0;
    border: none;
    resize: none;
    width: 100%;
    padding: 3px;
    font-size: 13px;

    &:focus {
      outline: none;
    }
  }

  .field-label {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    color: #434343;
    justify-content: flex-start;
  }
  .field-label-small {
    font-size: 14px;
    color: #434343;
    margin-top: 10px;
  }

  .align-center {
    text-align: center;
  }
}