.up-arrow {
  display: inline-block;
  position: relative;
  border: 2px solid #000;
  text-decoration: none;
  border-radius: 2px;
  background: #FFF;
  width: 100%;
  height: 100%; }
  .up-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000; }
  .up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 7px);
    bottom: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: white; }
  .up-arrow.red {
    border-color: #D68686; }
    .up-arrow.red:before {
      border-bottom-color: #D68686; }
  .up-arrow.green {
    border-color: #57D589; }
    .up-arrow.green:before {
      border-bottom-color: #57D589; }
  .up-arrow.darkgreen {
    border-color: #1A936F; }
    .up-arrow.darkgreen:before {
      border-bottom-color: #1A936F; }
  .up-arrow.offset1:before {
    left: calc(10% - 10px); }
  .up-arrow.offset1:after {
    left: calc(10% - 7px); }
  .up-arrow.offset2:before {
    left: calc(20% - 10px); }
  .up-arrow.offset2:after {
    left: calc(20% - 7px); }
  .up-arrow.offset3:before {
    left: calc(30% - 10px); }
  .up-arrow.offset3:after {
    left: calc(30% - 7px); }
  .up-arrow.offset4:before {
    left: calc(40% - 10px); }
  .up-arrow.offset4:after {
    left: calc(40% - 7px); }
  .up-arrow.offset5:before {
    left: calc(50% - 10px); }
  .up-arrow.offset5:after {
    left: calc(50% - 7px); }
  .up-arrow.offset6:before {
    left: calc(60% - 10px); }
  .up-arrow.offset6:after {
    left: calc(60% - 7px); }
  .up-arrow.offset7:before {
    left: calc(70% - 10px); }
  .up-arrow.offset7:after {
    left: calc(70% - 7px); }
  .up-arrow.offset8:before {
    left: calc(80% - 10px); }
  .up-arrow.offset8:after {
    left: calc(80% - 7px); }
  .up-arrow.offset9:before {
    left: calc(90% - 10px); }
  .up-arrow.offset9:after {
    left: calc(90% - 7px); }

.down-arrow {
  display: inline-block;
  position: relative;
  border: 2px solid #000;
  text-decoration: none;
  border-radius: 2px;
  background: #FFF;
  width: 100%;
  height: 100%; }
  .down-arrow:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    top: 100%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #000; }
  .down-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 7px);
    top: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: white; }
  .down-arrow.red {
    border-color: #D68686; }
    .down-arrow.red:before {
      border-top-color: #D68686; }
  .down-arrow.green {
    border-color: #57D589; }
    .down-arrow.green:before {
      border-top-color: #57D589; }
  .down-arrow.darkgreen {
    border-color: #1A936F; }
    .down-arrow.darkgreen:before {
      border-top-color: #1A936F; }
  .down-arrow.offset1:before {
    left: calc(10% - 10px); }
  .down-arrow.offset1:after {
    left: calc(10% - 7px); }
  .down-arrow.offset2:before {
    left: calc(20% - 10px); }
  .down-arrow.offset2:after {
    left: calc(20% - 7px); }
  .down-arrow.offset3:before {
    left: calc(30% - 10px); }
  .down-arrow.offset3:after {
    left: calc(30% - 7px); }
  .down-arrow.offset4:before {
    left: calc(40% - 10px); }
  .down-arrow.offset4:after {
    left: calc(40% - 7px); }
  .down-arrow.offset5:before {
    left: calc(50% - 10px); }
  .down-arrow.offset5:after {
    left: calc(50% - 7px); }
  .down-arrow.offset6:before {
    left: calc(60% - 10px); }
  .down-arrow.offset6:after {
    left: calc(60% - 7px); }
  .down-arrow.offset7:before {
    left: calc(70% - 10px); }
  .down-arrow.offset7:after {
    left: calc(70% - 7px); }
  .down-arrow.offset8:before {
    left: calc(80% - 10px); }
  .down-arrow.offset8:after {
    left: calc(80% - 7px); }
  .down-arrow.offset9:before {
    left: calc(90% - 10px); }
  .down-arrow.offset9:after {
    left: calc(90% - 7px); }

.left-arrow {
  display: inline-block;
  position: relative;
  border: 2px solid #000;
  text-decoration: none;
  border-radius: 2px;
  background: #FFF;
  width: 100%;
  height: 100%; }
  .left-arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    right: -20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #000; }
  .left-arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 17px);
    right: -14px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-left-color: white; }
  .left-arrow.red {
    border-color: #D68686; }
    .left-arrow.red:before {
      border-left-color: #D68686; }
  .left-arrow.green {
    border-color: #57D589; }
    .left-arrow.green:before {
      border-left-color: #57D589; }
  .left-arrow.darkgreen {
    border-color: #1A936F; }
    .left-arrow.darkgreen:before {
      border-left-color: #1A936F; }
  .left-arrow.offset1:before {
    top: calc(10% - 20px); }
  .left-arrow.offset1:after {
    top: calc(10% - 17px); }
  .left-arrow.offset2:before {
    top: calc(20% - 20px); }
  .left-arrow.offset2:after {
    top: calc(20% - 17px); }
  .left-arrow.offset3:before {
    top: calc(30% - 20px); }
  .left-arrow.offset3:after {
    top: calc(30% - 17px); }
  .left-arrow.offset4:before {
    top: calc(40% - 20px); }
  .left-arrow.offset4:after {
    top: calc(40% - 17px); }
  .left-arrow.offset5:before {
    top: calc(50% - 20px); }
  .left-arrow.offset5:after {
    top: calc(50% - 17px); }
  .left-arrow.offset6:before {
    top: calc(60% - 20px); }
  .left-arrow.offset6:after {
    top: calc(60% - 17px); }
  .left-arrow.offset7:before {
    top: calc(70% - 20px); }
  .left-arrow.offset7:after {
    top: calc(70% - 17px); }
  .left-arrow.offset8:before {
    top: calc(80% - 20px); }
  .left-arrow.offset8:after {
    top: calc(80% - 17px); }
  .left-arrow.offset9:before {
    top: calc(90% - 20px); }
  .left-arrow.offset9:after {
    top: calc(90% - 17px); }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1000; }

.pop-menu-wrapper {
  text-align: left; }
  .pop-menu-wrapper .pop-menu-item {
    color: #434343;
    font-size: 14px;
    line-height: 1.7em;
    cursor: pointer; }
