.step-bar-container {
  display: flex;
  height: 60px;
  background: #F2F2F2;
  padding: 10px; }
  .step-bar-container .step-bar-step-wrapper .step-bar-step-circle {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1A936F;
    background: #1A936F;
    color: white;
    margin: auto;
    text-align: center;
    padding: 2px;
    display: inline-block;
    cursor: pointer; }
    .step-bar-container .step-bar-step-wrapper .step-bar-step-circle.active {
      background: white;
      color: #1A936F; }
  .step-bar-container .step-bar-step-wrapper .step-bar-step-hyphen {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #1A936F;
    margin-top: 15px;
    vertical-align: top; }
    .step-bar-container .step-bar-step-wrapper .step-bar-step-hyphen.hidden {
      background: none; }
  .step-bar-container .step-bar-step-title {
    font-size: 13px;
    font-weight: bold;
    color: #747474;
    text-align: center;
    cursor: pointer; }
