body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body.rtl {
  direction: rtl;
}


button, input {
  font-family: 'Roboto', sans-serif;
}

.loader {
  position: absolute;
  top:50%;
  left:50%;
  width:130px;
  height:130px;
  margin: -75px 0 0 -75px;
}